section.ban(style="background-image: url('./img/Ban/ban__bg.jpg')")
	.ban__container
		.ban__content 
			.ban__header.page-header
				h2.ban__title.page-title Оставьте заявку на консультацию и мы вам поможем! 
				.ban__subtitle.page-subtitle
					p.ban__text.page-text У нас есть решения для всех ваших потребностей в сфере защиты и регистрации интеллектуальной собственности
			button.ban__consult.page-consult(type="button") Получить индивидуальную консультацию
		.ban__img 
			img(src="./img/Ban/ban__img.png", alt="")