section.ban(style="background-image: url('./img/Ban/ban__bg.jpg')")
	.container
		.ban__inner 
			.ban__content 
				h2.ban__title.page-title Оставьте заявку на консультацию и мы вам поможем! 
				.ban__subtitle.section-subtitle 
					p У нас есть решения для всех ваших потребностей в сфере защиты и регистрации интеллектуальной собственности
				button.ban__consult.page-consult Получить индивидуальную консультацию
			.ban__img 
				img(src="./img/Ban/ban__img.png", alt="")