section.case(style="background-image: url('./img/Case/case__bg.jpg')")
	.container 
		//- .case__inner
		h2.case__title Реализованные кейсы
		.case__subtitle
			p.case__text Наши реальные истории о том, как мы помогали своим клиентам регистрировать товарные знаки и оформлять права на объекты интеллектуальной собственности
			a.case__link.btn-link(href="") Все кейсы
		.case__slider.slider 
			.slider__body
				.slider__row
					.item-slider
						.item-slider__logo
							img(src="./img/Case/case__logo_1.png", alt="")
						.item-slider__content
							h3.item-slider__title CIRKLE — производитель косметической продукции
							p.item-slider__text Как в результате защиты  мы зарегистрировали бренд российской косметики при наличии оснований для отказа
				.slider__row
					.item-slider
						.item-slider__logo
							img(src="./img/Case/case__logo_2.png", alt="")
						.item-slider__content
							h3.item-slider__title Camera IQ — производитель систем машинного зрения
							p.item-slider__text Защита прав после ребрендинга. Как провести успешную регистрацию
			.slider__control 
				.slider__control_btn.btn-next.btn-link
				.slider__control_btn.btn-prev.btn-link