section.exp
	.container 
		.exp__inner
			.exp__img
				img(src="./img/Exp/exp-img.png", alt="")
			.exp__content
				.exp__block
					.exp__block_title Многолетний опыт
					.exp__block_text 
						p Наша компания была создана в&nbsp;2019 году специалистами, имеющими опыт работы в&nbsp;сфере интеллектуальной собственности более 20&nbsp;лет
					.exp__items 
						.exp__item
							.exp__item_title &gt;300
							p.exp__item_text Представления интересов <br> в&nbsp;спорах по&nbsp;IP правам в&nbsp;год
						.exp__item
							.exp__item_title &gt;2500
							p.exp__item_text Оказаний юридической <br> помощи компаниям в&nbsp;год
						.exp__item
							.exp__item_title 1150
							p.exp__item_text Завершённых дел <br> по&nbsp;регистрации товарных знаков
						.exp__item
							.exp__item_title 61
							p.exp__item_text Совокупный опыт <br> экспертов
						.exp__item
							.exp__item_title 99&#37;
							p.exp__item_text Успех получения <br> патентов
						.exp__item
							.exp__item_title 98&#x25;
							p.exp__item_text Успех регистрации <br> товарных знаков
				.exp__block
					.exp__block_title Подтвержденный практикой
					.exp__block_text 
						p Мы&nbsp;и&nbsp;наши клиенты гордимся опытом, который подтверждается нашими результатами от&nbsp;закрепления прав заявителей до&nbsp;успешной защиты интересов
					.exp__items 
						.exp__item.item-logo
							img.exp__item_img(src="./img/Exp/exp__logo_1.png", alt="")
						.exp__item.item-logo
							img.exp__item_img(src="./img/Exp/exp__logo_2.png", alt="")
						.exp__item.item-logo
							img.exp__item_img(src="./img/Exp/exp__logo_3.png", alt="")
						.exp__item.item-logo
							img.exp__item_img(src="./img/Exp/exp__logo_4.png", alt="")
						.exp__item.item-logo
							img.exp__item_img(src="./img/Exp/exp__logo_5.png", alt="")
						.exp__item.item-logo
							img.exp__item_img(src="./img/Exp/exp__logo_6.png", alt="")