section.exp#features
	.exp__container
		.exp__img
			img(src="./img/Exp/exp-img.png", alt="")
		.exp__content
			.exp__block
				h2.exp__block_title.page-title Здесь пишу наши особенности?
				.exp__block_text
					p Наша компания была создана в&nbsp;2019 году специалистами, имеющими опыт работы в&nbsp;сфере интеллектуальной собственности более 20&nbsp;лет
				.exp__items
					.exp__item
						.exp__item_title Safe and Secure
						p.exp__item_text Здесь что-то о безопасности нашего проекта
					.exp__item
						.exp__item_title Earnings Program
						p.exp__item_text Здесь что-то о нашей программе заработка
					.exp__item
						.exp__item_title Fast Transactions
						p.exp__item_text Здесь о том что у нас быстрые транзакции
					.exp__item
						.exp__item_title Нам доверяют
						p.exp__item_text Здесь что-то о доверии
					.exp__item
						.exp__item_title 24/7 Support
						p.exp__item_text Здесь о том что у нас есть круглосуточная поддержка
					.exp__item
						.exp__item_title Пустое поле
						p.exp__item_text Здесь можно что-то ещё написать. Таких полей может быть много.
			.exp__block
				.exp__block_title.page-title Поддерживающие кошельки
				.exp__block_text
					p Здесь можно вставить иконки кошельков, хотя кошельки должны будут все работать. Или здесь можно о чём-то другом написать.
				.exp__items
					.exp__item.item-logo
						img.exp__item_img(src="./img/Exp/exp__logo_1.png", alt="")
					.exp__item.item-logo
						img.exp__item_img(src="./img/Exp/exp__logo_2.png", alt="")
					.exp__item.item-logo
						img.exp__item_img(src="./img/Exp/exp__logo_3.png", alt="")
					.exp__item.item-logo
						img.exp__item_img(src="./img/Exp/exp__logo_4.png", alt="")
					.exp__item.item-logo
						img.exp__item_img(src="./img/Exp/exp__logo_5.png", alt="")
					.exp__item.item-logo
						img.exp__item_img(src="./img/Exp/exp__logo_6.png", alt="")
