footer.footer(style="background-image: url('./img/Footer/footer__bg.jpg')")
	.footer__container
		.footer__top
			img.footer__logo(src="./img/Footer/footer__logo.svg", alt="")
			p.footer__descriptioon Общество с ограниченной ответственностью «Центр интеллектуальной собственности и инноваций „АйПиХаб“»
		.footer__body
			.footer__column
				h4.footer__title Наши контакты:
				ul.footer__nav
					li.footer__item
						a.footer__link(href="", mailto="") example@iphub.com
					li.footer__item
						a.footer__link(href="", tel="") +7 (888) 888 88 88
			.footer__column.footer__social
				h4.footer__title Мы в соцсетях:
				ul.footer__nav
					li.footer__item
						a.footer__link(href="") Facebook
					li.footer__item
						a.footer__link(href="") Instagram
		.footer__copy
			p.footer__rights &copy;&nbsp;2021&nbsp;IPhub. Все права защищены.
			p.footer__offer Публичная оферта
			p.footer__terms Пользовательское соглашение
