header.header 
	.header__container 
		a.header__logo(href="#")
			img(src="./img/Header/logo.svg", alt="Logotype")
		.header__contact
			p.header__contact_phone +7 (888) 888 88 88
			button.header__contact_btn Получить консультацию
		.header__menu 
			button(type="button" class="menu__icon icon-menu")
				span
			nav.menu(style="background-image: url('./img/Menu/menu__bg.jpg');")
				ul.menu__list 
					li.menu__item 
						a.menu__link(href="#") Услуги
					li.menu__item 
						a.menu__link(href="#") Кейсы
					li.menu__item 
						a.menu__link(href="#") FAQ