header.header 
	.container 
		.header__inner 
			a.header__logo(href="#")
				img(src="./img/Header/logo.svg", alt="Logotype")
			.header__contact
				p.header__contact_phone +7 (888) 888 88 88
				button.header__contact_btn Получить консультацию
			.header__menu 
				.header__menu_icon
					span
				.nav.menu 
					ul.menu__list 
						li.menu__item 
							a.menu__link(href="#") Услуги
						li.menu__item 
							a.menu__link(href="#") Кейсы
						li.menu__item 
							a.menu__link(href="#") FAQ