header.header
	.header__container
		a.header__logo(href="#")
			img(src="./img/Header/logo.svg", alt="Logotype")
		.header__menu
			button(type="button", class="menu__icon icon-menu")
				span
			nav.menu(style="background-image: url('./img/Menu/menu__bg.jpg');")
				ul.menu__list
					li.menu__item
						a.menu__link(href="#tutorial") How to start
					li.menu__item
						a.menu__link(href="#about") About
					li.menu__item
						a.menu__link(href="#features") Features
					li.menu__item
						a.menu__link(href="#reviews") Reviews
					li.menu__item
						a.menu__link(href="#block1") Лишний блок 1
					li.menu__item
						a.menu__link(href="#block2") Лишний блок 2
					li.menu__item
						a.menu__link(href="#faq") FAQ
