section.intro(style="background-color: #1B1B1B;")
	.intro__container
		.intro__content
			.intro__suptitle Название проекта?
			h1.intro__title.icon-l-mark.icon-r-mark Здесь ключевые слова
				span что мы делаем?
			.intro__text
				p Здесь описание проекта?. Дизайн которые сейчас на этом сайте желательно изменить. Нужно добавить больше атрибутов связанных с криптой ибо хуэта какая-то.
			.intro__buttons
				button.intro__consult.page-consult(type="button") Зарегистрироваться?
				.intro__link.page-link.icon-r-arrow Эта кнопка нужна?
		.intro__img
			img(src="./img/Intro/intro-img-1.png", alt="Image on main page")
