section.intro(style="background-color: #1B1B1B;")
	.intro__container 
		.intro__content 
			.intro__suptitle ВАШ IP ПАРТНЕР
			h1.intro__title.icon-l-mark.icon-r-mark Интеллектуальная 
				span собственность
			.intro__text 
				p Индивидуальные правовые решения для защиты и охраны ваших нематериальных активов в России и за рубежом
			.intro__buttons
				button.intro__consult.page-consult(type="button") Получить индивидуальную консультацию
				.intro__link.page-link.icon-r-arrow Все услуги
		.intro__img
			img(src="./img/Intro/intro-img-1.png", alt="Image on main page")