section.services(style="background-image: url('./img/Services/services__bg.jpg')")
	.container
		.services__inner
			h2.services__title Решения для вашего бизнеса
			.services__subtitle
				p.services__subtitle_text У&nbsp;нас есть все необходимые ресурсы для решения любых ваших потребностей в&nbsp;сфере интеллектуальной собственности
				a.services__subtitle_link.btn-link(href="") Все услуги
			.services__content
				.services__slider.slider
					.slider__container 
						.slider__item
							.slider__item_img
								img(src="./img/Services/services__img_1.png", alt="")
							.slider__item_title Регистрация товарного знака в&nbsp;Роспатенте
							.slider__item_text Регистрация прав инновационные устройства, способы или технологии
							a.slider__item_arrow(href="")
						.slider__item
							.slider__item_img
								img(src="./img/Services/services__img_2.png", alt="")
							.slider__item_title Регистрация товарного знака в&nbsp;Роспатенте
							.slider__item_text Регистрация прав инновационные устройства, способы или технологии
							a.slider__item_arrow(href="")
						.slider__item
							.slider__item_img
								img(src="./img/Services/services__img_3.png", alt="")
							.slider__item_title Промышленные образцы
							.slider__item_text Регистрация прав инновационные устройства, способы или технологии
							a.slider__item_arrow(href="")
						.slider__item
							.slider__item_img
								img(src="./img/Services/services__img_4.png", alt="")
							.slider__item_title Программы для ЭВМ и&nbsp;Базы данных
							.slider__item_text Регистрация прав инновационные устройства, способы или технологии
							a.slider__item_arrow(href="")
					.slider__buttons 
						.slider__buttons_next
						.slider__buttons_prev