section.services#reviews(style="background-image: url('./img/Services/services__bg.jpg')")
	.services__container
		.services__header.page-header
			h2.services__title.page-title Здесь отзывы?
			.services__subtitle.page-subtitle 
				p.services__text.page-text Здесь можно писать фейковые отзывы от людей, можно даже понаходить липовые фото людей. Может создать страничку с отзывами?
				a.services__link.page-link.icon-r-arrow(href="") Все отзывы?
		.services__content
			.services__slider.slider-services.swiper
				.slider-services__body.swiper-wrapper
					.slider-services__slide.icon-shape.swiper-slide
						.slider-services__img
							img(src="./img/Services/services__img_1.png", alt="")
						h3.slider-services__title Вы смотретите на первый отзыв
						.slider-services__text Регистрация прав инновационные устройства, способы или технологии
						a.slider-services__link(href="#")
					.slider-services__slide.icon-shape.swiper-slide
						.slider-services__img
							img(src="./img/Services/services__img_2.png", alt="")
						h3.slider-services__title Вы смотретите на второй отзыв
						.slider-services__text Регистрация прав инновационные устройства, способы или технологии
						a.slider-services__link(href="")
					.slider-services__slide.icon-shape.swiper-slide
						.slider-services__img
							img(src="./img/Services/services__img_3.png", alt="")
						h3.slider-services__title Вы смотретите на третий отзыв
						.slider-services__text Регистрация прав инновационные устройства, способы или технологии
						a.slider-services__link(href="")
					.slider-services__slide.icon-shape.swiper-slide
						.slider-services__img
							img(src="./img/Services/services__img_4.png", alt="")
						h3.slider-services__title Вы смотретите на четвертый отзыв
						.slider-services__text Регистрация прав инновационные устройства, способы или технологии
						a.slider-services__link(href="")
					.slider-services__slide.icon-shape.swiper-slide
						.slider-services__img
							img(src="./img/Services/services__img_5.png", alt="")
						h3.slider-services__title Вы смотретите на пятый отзыв
						.slider-services__text Регистрация прав инновационные устройства, способы или технологии
						a.slider-services__link(href="")
				.slider-services__control
					.slider-services__btn.page-control.icon-l-arrow.slider-prev
					.slider-services__btn.page-control.icon-r-arrow.slider-next