.ban {
  padding: rem(80) 0;
  @include mq("phone-wide", range, "desktop") {
    padding: rem(60) 0;
  }
  @include mq("phone-wide", max) {
    padding: rem(40) 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__content {
    flex: 0 1 50%;
    @include mq("tablet-small", max) {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  &__title {
  }
  &__subtitle {
  }
  &__text {
    color: $primaryAccentColor;
    opacity: 0.75;
  }
  &__consult {
    background: $secondaryAccentColor;
    @include mq("tablet-small", max) {
      margin: auto;
    }
  }
  &__img {
    flex: 0 1 auto;
    @include mq("tablet-small", max) {
      display: none;
    }
  }
}
