.exp {
	padding: rem(79) 0 rem(141) 0;
	&__inner {
		display: flex;
		gap: rem(67);
		// @include mq("desktop") {
		// }
	}
	&__img {
		flex: 0 0 345px;  // change
		// @include mq("desktop") {
		// }
		img {

		}
	}
	&__content {
		flex: 1 1 auto;
	}
	&__block {
		& + & {
			margin: rem(80) 0px 0px 0px;
		}
		&_title {
			margin: 0px 0px rem(16) 0px;
			font-family: $fontSecondary;
			color: #fff;
			@include mq("desktop") {
				font-size: rem(38);
				line-height: em(51, 38);
			}
		}
		&_text {
			margin: 0px 0px rem(50) 0px;
			font-weight: 500;
			color: #8A8A8A;
			@include mq("desktop") {
				font-size: rem(16);
				line-height: em(26, 16);
			}
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		margin: 0px 0px rem(20) 0px;
		padding: rem(20);
		border-radius: rem(8);
		flex: 0 1 48.8%;
		background-color: #202020;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: -3px;
			right: -2px;
			bottom: -2px;
			left: -3px;
			background: linear-gradient(135deg, rgba(218, 69, 51, 1), rgba(218, 69, 51, 0) 30%);
			border-radius: rem(10);
			z-index: -1;
		}
		&.item-logo {
			height: 119px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&_title {
			font-family: $fontSecondary;
			font-weight: 500;
			color: #fff;
			@include mq("desktop") {
				font-size: rem(36);
				line-height: em(45, 36);
			}
		}
		&_text {
			color: #8A8A8A;
			@include mq("desktop") {
				font-size: rem(16);
				line-height: em(26, 16);
			}
		}
		&_img {
			
		}
	}
}