.intro {
	@include flex-all-center;
	// position: relative;
	padding: 7.8% 0 5.5% 0;

	@include mq("tablet", range, "desktop") {
		padding: 18% 0 5.5% 0;
	}

	@include mq("tablet-small", range, "tablet") {
		padding: 18% 0 0 0;
	}

	@include mq("phone-wide", range, "tablet-small") {
		padding: 28% 0 0 0;
	}

	@include mq("phone-wide", max) {
		padding: 31% 0 0 0;
	}

	&__container {
		@include flex-all-sb;
		gap: rem(90);

		@include mq("tablet", range, "desktop") {
			gap: rem(72);
		}
	}

	&__content {
		margin: 0 0 0 rem(14);
		flex: 0 0 50%;

		@include mq("tablet-small", max) {
			flex: 1 1 100%;
			text-align: center;
		}
	}

	&__suptitle {
		margin: 0 0 rem(6) 0;
		font-weight: 500;
		text-transform: uppercase;

		@include mq("phone-wide") {
			line-height: math.div(26, 16);
		}

		@include mq("tablet", range, "desktop") {
			margin: 0 0 rem(8) 0;
		}

		@include mq("phone-wide", max) {
			font-size: rem(14);
			line-height: math.div(22, 14);
		}
	}

	&__title {
		font-family: $fontSecondary;
		margin: 0 0 em(17, 55) 0;
		@include font-source-sans(rem(55),
			math.div(74, 55),
			500,
			$primaryAccentColor );
		position: relative;

		&:before,
		&:after {
			vertical-align: super;
			color: #da4533;
			font-size: rem(15);
		}

		&:before {
			position: absolute;
			top: 10px;
			left: -13px;
			vertical-align: 32px; // rem
		}

		& span {
			font-style: italic;
		}

		@include mq("tablet", range, "desktop") {
			font-size: rem(48);
			line-height: math.div(65, 48); // 1,35
		}

		@include mq("phone-wide", range, "tablet") {
			font-size: rem(44);
			line-height: math.div(59, 44); // 1,34
		}

		@include mq("phone-wide", max) {
			font-size: rem(34);
			line-height: math.div(46, 34); // 1,35
		}
	}

	&__text {
		margin: 0 0 47px 0;
		font-size: rem(18);
		line-height: math.div(29, 18);

		@include mq("phone-wide", range, "desktop") {
			font-size: rem(16);
			line-height: math.div(26, 16);
		}

		@include mq("phone-wide", max) {
			font-size: rem(14);
			line-height: math.div(22, 14);
		}
	}

	&__buttons {
		@include flex-v-center;

		@include mq("tablet-small") {
			gap: 42px;
		}

		@include mq("tablet-small", max) {
			@include flex-all-center;
		}
	}

	&__btn {
		@include mq("tablet", range, "desktop") {
			font-size: 16px;
			line-height: 160%;
			/* or 26px */
		}

		@include mq("tablet-small", max) {
			align-self: center;
		}
	}

	&__link {
		@include mq("tablet", range, "desktop") {
			font-size: 16px;
			line-height: 160%;
			/* or 26px */
			padding: 10px 20px;
		}
	}

	&__img {
		flex: 1 1 auto;

		@include mq("tablet-small", max) {
			display: none;
		}
	}
}