.services {
  &__container &__header {
  }
  &__title {
    color: #1b1b1b;
  }
  &__subtitle {
  }
  &_text {
  }
  &_link {
  }
  &__content {
    // Убрать класс или добавить такой же и в case и возможно остальным. чтобы был оберткой контенту, если он будет увеличиваться, или там будет только слайдер, но допустим можно задать какие-нибудь стили для безопасности если контента станет больше
  }
  &__slider {
  }
}
.slider-services {
  &__body {
    margin: 0 0 35px 0;
  }
  &__slide {
    height: 400px; // change
    margin: 0 rem(20) 0 0;
    padding: rem(82) rem(23) rem(20) rem(23);
    @include flex-column-center;
    background-color: #1b1b1b;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    &:before {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #5c5c5c;
      font-size: 40px;
      z-index: 2;
    }

    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        transition: all 0.3s;
        & .slider-services__link {
          opacity: 0.3;
          transition: opacity 0.2s;
        }
        &:before {
          color: #fff;
          transition: all 0.2s;
        }
        & .slider-services__img {
          transform: scale(0.8);
          transition: all 0.5s;
        }
        & .slider-services__title {
          transition: all 0.3s;
          color: #fff;
        }
        & .slider-services__text {
          height: 100%;
          opacity: 1;
          transition: all 0.3s;
        }
      }
    }
  }

  &__img {
    flex: 1 1 auto;
  }
  &__title {
    margin: 0 0 rem(5) 0;
    @include font-source-sans(rem(18), math.div(29, 18), 500, #8a8a8a);
    transition: all 0.3s;
    position: relative;
    z-index: 2;
  }
  &__text {
    opacity: 0;
    height: 0;
    font-size: rem(14);
    line-height: math.div(23, 14);
    transition: all 0.3s;
  }
  &__link {
  }
  &__control {
    @include flex-all-center;
    gap: 20px;
  }
  &__btn {
  }
}
