.team {
  padding: rem(165) 0 rem(197) 0;
  @include mq("tablet", range, "desktop") {
    padding: rem(85) 0 rem(120) 0;
  }
  @include mq("tablet-small", range, "tablet") {
    padding: rem(80) 0;
  }
  @include mq("phone-wide", range, "tablet-small") {
    padding: rem(80) 0 rem(50) 0;
  }
  @include mq("phone-wide", max) {
    padding: rem(60) 0;
  }
  &__container {
  }
  &__header {
  }
  &__title {
    color: #1b1b1b;
  }
  &__subtitle {
  }
  &__text {
  }
  &__slider {
  }
  &__forums {
  }
}
.slider-team {
  margin: 0 0 75px 0;
  &__body {
    margin: 0 0 35px 0;
  }
  &__slide {
  }
  &__image {
    margin: 0 0 10px 0;
    border-radius: 8px;
    @include mq("phone-wide", max) {
      width: 100%;
    }
  }
  &__info {
  }
  &__author {
    width: 250px; // Change!!!
    margin: 0 0 5px 0;
    @include font-source-sans(
      rem(18),
      math.div(29, 18),
      500,
      $secondaryAccentColor
    );
  }
  &__prof {
    color: #5c5c5c;
    font-size: rem(14);
    line-height: math.div(20, 14);
  }
  &__control {
    @include flex-all-center;
    gap: 20px;
  }
  &_btn {
  }
}
.forums-team {
  &__header {
    margin: 0 0 73px 0;
    @include flex-all-sb;
    @include mq("phone-wide", max) {
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
  }
  &__title {
    @include font-source-sans(
      rem(24),
      math.div(38, 24),
      500,
      $secondaryAccentColor
    );
  }
  &__control {
    @include flex-v-center;
    gap: 70px;
  }
  &__btn {
    font-weight: 500;
    color: $brandColor;
    line-height: math.div(26, 16);
    &.disabled {
      color: #5c5c5c;
    }
  }
  &__content {
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr 1.1fr 0.35fr;
    align-items: center;
    justify-content: space-between;
    @include mq("tablet", range, "desktop") {
      grid-template-columns: 1fr 1.3fr 0.6fr;
      gap: 35px;
    }
    @include mq("tablet-small", range, "tablet") {
      grid-template-columns: 0.7fr 1.1fr 0.4fr;
      gap: 19.5px;
    }
    @include mq("tablet-small", max) {
      gap: 20px;
    }
    &:not(:last-child) {
      padding-bottom: 58px;
    }
    &:not(:first-child) {
      padding-top: 58px;
    }
    & + & {
      border-top: 1px solid rgba(140, 140, 140, 1);
      border-image: linear-gradient(
        to right,
        rgba(140, 140, 140, 1),
        rgba(140, 140, 140, 0.5),
        rgba(166, 166, 166, 0)
      );
      border-image-slice: 1;
    }
  }
  &__author {
    @include flex-v-center;
    gap: 15px;
    @include mq("tablet-small", range, "tablet") {
      flex-direction: column;
      align-items: start;
    }
    @include mq("tablet-small", max) {
      grid-column-end: span 3;
    }
    &_img {
      border-radius: 50%;
    }
    &_info {
    }
    &_name {
      font-weight: 500;
      color: #1b1b1b;
      line-height: math.div(26, 16);
    }
    &_prof {
      color: #5c5c5c;
      font-size: rem(14);
      line-height: math.div(20, 14);
    }
  }
  &__place {
    justify-self: center;
    @include mq("phone-wide", range, "tablet-small") {
      grid-column-end: span 2;
    }
    @include mq("phone-wide", max) {
      grid-column-end: span 3;
    }
    &_name {
      margin: 0 0 15px 0;
      @include font-source-sans(
        rem(18),
        math.div(29, 18),
        500,
        $secondaryAccentColor
      );
      border-bottom: 1px solid rgba(218, 69, 51, 1);
      border-image: linear-gradient(
        to right,
        rgba(218, 69, 51, 1),
        rgba(218, 69, 51, 0)
      );
      border-image-slice: 1;
    }
    &_info {
      color: #5c5c5c;
      line-height: math.div(26, 16);
    }
  }
  &__date {
    justify-self: center;
    text-align: center;
    @include flex-all-center;
    flex-direction: column;
    @include mq("desktop", max) {
      border-radius: 50%;
      width: 133px;
      height: 133px;
      border: 1px solid #da4533;
    }
    &_day {
      margin: 0 0 5px 0;
      @include font-source-sans(
        rem(18),
        math.div(29, 18),
        500,
        $secondaryAccentColor
      );
    }
    &_time {
      color: $secondaryAccentColor;
      line-height: math.div(26, 16);
    }
  }
}
