doctype html
html(lang="en")
	head
	include html/head
	body(style="background-color: #1B1B1B;")
		include html/sprite
		.wrapper
			include html/header
			main.page
				include html/intro
				include html/about
				include html/exp
				include html/ban
				include html/services
				include html/case
				include html/team
				include html/test
			include html/footer
		script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
		script(src="js/app.js")

    
		//- Переписать классы по БЭМ`у
		//- Переписать именна картинкам по бэму
		//- Доделать ховер на кнопках
		//- Посмотреть на zlatmax как правильно делать перемещение кнопки
		//- Сделать меню
		//- Разобраться с единицами измерения, сделать поменьше пикселей
		//- Добавить простое отзывчивое свойство, функцию
		//- Посмотреть у zlatmax как вставлен логотип
		//- узнать как для чего у zlatmax прописаны extend
		//- Может тоже стоит добавлять блоками min-height как у zlatmax
		//- Сделать quiz
		//- Добавить динамический адаптив
		//- Добавить логотип через спрайт
		//- Доделать masonry
		//- Добавить попап


		//- Как сделать все блоки в ряде одной высоты при использовании библиотеки Swiper
