@mixin font-face($font-family, $ff-local, $url, $weight, $style: normal) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("#{$url}.eot");
		src: local("#{$ff-local}"), local("#{$url}"), url("#{$url}.eot?#iefix") format("embedded-opentype"),
			url("../fonts/#{$url}.woff2") format("woff2"), url("../fonts/#{$url}.woff") format("woff"),
			url("#{$url}.ttf") format("truetype");
		font-weight: #{$weight};
		font-style: $style;
		font-display: swap;
	}
}
/* -------------------------------- */
//Percent
@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	// $result: ($px / $from) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	// $result: ($px / 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	// $result: ($px / $current) + em;
	@return $result;
}
/* -------------------------------- */
@function vw($value, $base: 1440) {
	@return ($value / $base) * 100vw;
}
@function vmin($value, $base: 320) {
	@return ($value / $base) * 100vmin;
}
/* -------------------------------- */
@mixin font-source-sans($size: false, $lh: false, $weight: 400, $colour: false) {
	@if $size {
		font-size: $size;
	}
	@if $lh {
		line-height: $lh;
	}
	@if $weight {
		font-weight: $weight;
	}
	@if $colour {
		color: $colour;
	}
}
/* -------------------------------- */
$breakpoints: (
	"phone": em(360),
	"phone-wide":em(480),
	"tablet-small": em(768),
	"tablet": em(1000),
	"desktop": em(1280),
);
@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}
//========================================================================================================================================================
@mixin bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex {
  display: flex;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
