$fontSize: rem(14);
$fontFamily: 'Montserrat', sans-serif;
// $font-primary: 'Montserrat', sans-serif;
$fontSecondary: 'STIX Two Text', serif;

$maxWidthContainer: 1256;
$containerPadding: 40;


$mainColor: #8A8A8A;



// :root {
// 	--white: #fff;
// 	--black: #000;
// 	--h3_color: #000;
// 	--bg_color: #fff;
// 	--text: #424F7B;
// 	--bg_footer: #0B265A;
// 	--bg_btn: #0E1734;
// 	--main_color: #848FAC;
// 	--semi_color: #192252;
// }

