@use "sass:math";
@use "sass:map";
@import "vars";
@import "mixins";
@import "null";

/*** Fonts ***/
@import "fonts";
@import "fonts/icons";

body {
  position: relative;
  font-family: $fontFamily;
  font-style: normal;
  text-align: left;
  @include font-source-sans(rem($fontSize), 1.1, 400, $primaryColor);

  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > main {
    flex: 1 1 auto;
  }

  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  width: 100%;
  max-width: rem($maxWidthContainer); // 1216px
  margin: auto;
  padding: 0 rem(math.div($containerPadding, 2));
}

.page {
  &-header {
  }

  &-title {
    margin: 0 0 18px 0;
    font-family: $fontSecondary;
    color: $primaryAccentColor;

    @include mq("tablet") {
      font-size: rem(38);
      line-height: math.div(51, 38);
    }

    @include mq("tablet-small", range, "tablet") {
      font-size: rem(32);
      line-height: math.div(43, 32);
    }

    @include mq("phone-wide", range, "tablet-small") {
      font-size: rem(28);
      line-height: math.div(38, 28);
    }

    @include mq("phone-wide", max) {
      font-size: rem(24);
      line-height: math.div(32, 24);
    }
  }

  &-subtitle {
    margin: 0 0 rem(50) 0;
    @include flex-sb;

    @include mq("tablet", range, "desktop") {
      margin: 0 0 rem(39) 0;
    }
  }

  &-text {
    flex: 0 1 700px; // Change
    font-weight: 500;
    line-height: math.div(25, 16);
  }

  // &-link {
  //   margin: 0 16px 0 0;
  // }
  &-consult {
    width: em(300, 16);
    padding: em(20, 16);
    font-weight: 500;
    line-height: math.div(26, 16);
    color: $primaryAccentColor;
    border-radius: 50%;
    background-color: $brandColor;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // @include flex-all-center;
    // @include af("width", 300, 20, 1920, 769);
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @include mq("tablet-small", max) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 10;
        border-radius: 50%;
        border: 1px solid #ffffff;
        transform: matrix(0.99, -0.11, 0.11, 0.99, 0, 0);
      }
    }
  }

  &-link {
    padding: em(6, 16) em(20, 16);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // @include flex-all-center;
    text-align: center;
    font-weight: 500;
    line-height: math.div(26, 16);
    color: $brandColor;
    border: 1px solid #da4533;
    border-radius: 50%;
    position: relative;

    &:after,
    &:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #da4533;
      font-size: 8px;
    }

    &:before {
      left: -18px;
    }

    &:after {
      right: -18px;
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @include mq("tablet-small", max) {
      // width: 135px;
      margin: 20px auto 0 auto;
    }
  }

  &-control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // @include flex-all-center;
    width: 40px;
    height: 40px;
    color: #da4533;
    border: 1px solid #da4533;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:after,
    &:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #da4533;
      font-size: 8px;
    }

    &:before {
      left: -18px;
    }

    &:after {
      right: -18px;
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

section {
  width: 100%;
  padding: rem(160) 0;
  @include bg-cover;

  @include mq("tablet", range, "desktop") {
    padding: rem(120) 0;
  }

  @include mq("phone-wide", range, "tablet") {
    padding: rem(80) 0;
  }

  @include mq("phone-wide", max) {
    padding: rem(60) 0;
  }
}

@import "components/header";
@import "components/intro";
@import "components/about";
@import "components/exp";
@import "components/services";
@import "components/test";
@import "components/case";
@import "components/team";
@import "components/ban";
@import "components/footer";
